<div class="chat-container">

  <!-- Encabezado -->
  <div class="chat-header">
    <div class="circle-logo">
      {{ getInitial() }}
    </div>
    <h2>Municipalidad de {{ municipalityCode }}</h2>
  </div>

  <!-- Lista de mensajes -->
  <div class="chat-messages">

    <div *ngFor="let m of messages">
      <div class="bubble user" *ngIf="!m.isResponse">
        {{ m.content }}
      </div>

      <div class="bubble muni" *ngIf="m.isResponse">
        {{ m.content }}
      </div>
    </div>

  </div>

  <!-- Caja para escribir -->
  <div class="chat-input">
    <input type="text"
           placeholder="Escribe un mensaje..."
           [(ngModel)]="newMessage"
           (keyup.enter)="sendMessage()" />

    <button (click)="sendMessage()">Enviar</button>
  </div>

</div>
