<div class="layout">

  <aside class="sidebar">

    <!-- LOGO -->
    <div class="logo">
      <div class="logo-text">
        <span>EcoSmart</span>
        <small>Admin Panel</small>
      </div>
    </div>

    <!-- MENÚ -->
    <nav class="menu">
      <a routerLink="/admin/solicitudes" routerLinkActive="active">📄 Solicitudes</a>
      <a routerLink="/admin/empleados" routerLinkActive="active">🧑‍💼 Empleados</a>
      <a routerLink="/admin/tachos" routerLinkActive="active">🗑 Tachos</a>
      <a routerLink="/admin/reportes" routerLinkActive="active">📢 Reportes</a>
      <a routerLink="/admin/tendencias" routerLinkActive="active">📊 Tendencias</a>
    </nav>

    <!-- PERFIL -->
    <div class="user-info-box">
      <div class="user-avatar">{{ getInitial() }}</div>
      <div class="user-data">
        <span class="name">{{ username }}</span>
        <span class="role">{{ role }}</span>
      </div>
    </div>

    <!-- LOGOUT -->
    <button class="logout" (click)="logout()">⏻ Cerrar sesión</button>

  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
